{%extends "base.html"%}
{%block contenido%}

    <center>
      <form id=frmRegistro action="/usuario/guardar" method="POST" novalidate> 
            <h2>Ingrese sus datos</h2>
            {{form.hidden_tag()}}
            <div class="form-row input-info"> 
            
                {{form.nombres.label}}
                {{form.nombres(class="label-form")}}<br>
            
                {{form.apellidos.label}}
                {{form.apellidos()}}<br>
           
                {{form.correo.label}}
                {{form.correo()}}<br>
            
                {{form.password.label}}
                {{form.password()}}<br>
              
                {{form.confirmar_password.label}}
                {{form.confirmar_password()}}<br>
            
                {{form.estado()}}  
                {{form.estado.label}}
                
            </div>
            <div class="log-sign">                 
                {{form.enviar(class="login", onclick="JavaScript:validardatos();")}}<br><br>                
            </div>

        </form>
    </center>

    {%endblock%}
