<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="/static/principal.style.css">
    <script src="/static/javascript.js"> </script>

</head> 
<body >
    <img src="/images/banner_blogs.jpg"/>
    <center>
        <form>
            <div id='AppendHere'></div>
<!--start login form-->
<form id="loginform" action="#"><!--action="the site link"-->
	<!--start header-->
	<h1>Recuperar contraseña</h1>
	
    
    
    <div class="input-info">
        <!--the input div containe the information of the user-->
        <i ></i>
        <!--user name-->
        <label>Correo electrónico:</label>
        <input type="text" placeholder="correo usuario">
        
        <div class="log-sign"><!--the login button and the sign up button>[to the sign up page]-->
            <button class="recuperar" form="loginform"> Recuperar contraseña</button><!--log in-->
        </div>
    </div>

        </form>
    </center>

</body>
</html>